<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:replace="android:theme"
    package="com.android.example.pickreci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".Admin.AddRecipeActivity"></activity>
                <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpecificRecipePerType" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Admin.AdminActivity"/>
        <activity android:name=".RegistrationScreen.RegistrationScreen" />
        <activity android:name=".InitialScreen.InitialScreen">


        </activity>
        <activity android:name=".SpecificDetailsActivity.SpecificDetailsActivity" />
    </application>

</manifest>

<!--
<activity android:name=".SplashScreenActivity" />
<activity android:name=".MainActivity" />
<activity android:name=".Admin.AdminActivity" />
-->