<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.example.pickreci">

    <application
        android:allowBackup="true"
        android:font="@font/cafe_font"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">


        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Admin.AddRecipeActivity">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="github.com"-->
<!--                    android:pathPrefix="/recipe/"-->
<!--                    android:scheme="https" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".Admin.AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpecificRecipePerType" />
        <activity android:name=".Palengke.ProductDetailsActivity" />
        <activity android:name=".Admin.RecipeActivity"/>
        <activity android:name=".Admin.ProductActivity"/>
        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".RegistrationScreen.RegistrationScreen" />
        <activity android:name=".InitialScreen.InitialScreen" />
        <activity android:name=".SpecificDetailsActivity.SpecificDetailsActivity" />
        <activity android:name=".Admin.AddProductActivity"/>
    </application>

</manifest>